%h1= @poll.title 
%h2= @poll.question

- if @poll.exp_date <= Date.today
	%h3.red= "Diese Umfrage ist abgelaufen. Abstimmen ist nicht mehr möglich."

- if @poll.poll_type.name == "open"
	%ul
		- @poll.answers.each do |answer| 
			%li= answer.value
		
	
	
- else 
	%img{ src: @chart_url } 
	%img{ src: @bar_url } 

	%table
		- @poll.answer_possibilities.each do |answer_possibility|
			%tr
				%td= answer_possibility.value 
				%td= answer_possibility.answers.count 

