<h1><%= @poll.title %></h1>
<h2> <%= @poll.question %> </h2>

<% if @poll.poll_type.name == "open"%>
	<% @poll.answers.each do |answer| %>
			<li><%= answer.value %></li>		
	<%end %>
	
<% else %>
	<img src="<%= @chart_url  %>" /> 
	<table>
		<% @poll.answer_possibilities.each do |answer_possibility| %>
			<tr>
				<td><%= answer_possibility.value %></td>
				<td><%= answer_possibility.answers.count %></td>
			</tr>
		<% end %>
	</table>
<% end %>


