<%= form_for @poll, :url => url_for(:controller => 'poll_creations', :action => 'create') do |f| %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <%= f.fields_for :answer_possibilities do |builder| %>
    <%= render "answer_possibility_fields", :f => builder %>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
