<%= form_for(@poll_creation) do |f| %>
  <% if @poll_creation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll_creation.errors.count, "error") %> prohibited this poll_creation from being saved:</h2>

      <ul>
      <% @poll_creation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poll_type_id %><br />
    <%= f.number_field :poll_type_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </div>
  <div class="field">
    <%= f.label :exp_date %><br />
    <%= f.date_select :exp_date %>
  </div>
  <div class="field">
    <%= f.label :chart_type %><br />
    <%= f.text_field :chart_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
