!!!
%html
  %head
    %title="Chickenmcnuggets"

    = stylesheet_link_tag 'application', media: "screen, projection" 
    = javascript_include_tag "application" 

    = csrf_meta_tags

  %body

  #wrapper
    #header
      .logo
        = image_tag("Logo.png")
      .menu
        %ul
          %li
            = link_to "Umfragen", polls_path 
          %li
            - if creator_signed_in?
              = link_to "Logout", destroy_creator_session_path, :method => :delete 
            - else 
              = link_to "Login", new_creator_session_path 
        
     
      .clear

    #content
      = yield 
  
    #footer
      %ul
        %li
          = link_to "Admin", "/admin" 